#about {
  background-color: #DCC7AA; 
  padding-top: 5rem;
  padding-bottom: 10rem;
  .page-section-heading {
    padding: 1.75rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 3.75rem;
    color: #6B7A8F;
  }
  .lead {
    text-align: center;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
  }
  .info-link {
    color: #6B7A8F;
  }
}