.masthead {
    background-color: #6B7A8F;
    padding-top: 15rem;
    padding-bottom: 15rem;
    .masthead-heading {
      font-size: 4.75rem;
      line-height: 4.75rem;
      color: #DCC7AA;
    }
    .masthead-subheading {
      font-size: 2.25rem;
      color: white;
    }
  }
