// Styling for the portfolio grid section
.portfolio {
    padding-top: 5rem;
    padding-bottom: 10rem;
    margin-bottom: -30px;
    .page-section-heading{
        padding: 1.75rem;
        font-family: 'Montserrat', sans-serif;
        font-size: 3.75rem;
    }
    .portfolio-item {
        cursor: pointer;
        position: relative;
        display: block;
        max-width: 25rem;
        margin-bottom: 30px;
        overflow: hidden;
        .portfolio-item-caption {
            position: absolute;
            top: 0;
            left: 0;
            transition: 0.3s;
            opacity: 0;
            background-color: fade-out(#6B7A8F, .1);
            &:hover {
                opacity: 1;
            }
            .portfolio-item-caption-content {
                font-size: 1.0rem;
                padding: .5rem;
            }
        }
    }
  }